.appication {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: stretch;
  align-items: center;
  align-content: center;

  min-width: 700px;
  
}

#btnLoadMore {
  margin: 20px;
  width: 200px;
  height: 50px;
}
